@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@500&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}
li {
    list-style: none;
}
p {
    font-size: 0.8rem;
}

body {
    position: relative;
    min-height: 100vh;
    background: rgb(26, 26, 26);
    color: rgb(218, 218, 218);
}


nav {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 10px 20px;
    font-weight: bold;
}

nav h3 {
    color: rgb(255, 255, 255);
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 30px auto;
    padding-bottom: 10em;
}

h1 {
    font-size: 5rem;
}

.header-left-container h3 {
    color: rgb(69, 60, 194);
    font-size: 1.8rem;
}

#modem {
    width: 100%;
    margin: 0 auto;
}

.infos {
    display: flex;
    background: rgb(19, 19, 19);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.infos-left {
    width: 33%;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    border: none;
    background: rgb(69, 60, 194);
    color: rgb(240, 240, 240);
    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 5px;
}

.infos-right {
    width: 67%;
}

.investors {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.img-container img {
    height: 60px;
}

@media screen and (max-width: 870px) {
    h1 {
        font-size: 2.5rem;
    }

    .header-left-container h3 {
        font-size: 1rem;
    }
    p {
        font-size: 0.7;
    }
    #modem {
        width: 60%;
    }
    header {
        display: block;
        align-items: center;
        text-align: center;
    }
    
}


@media screen and (max-width: 592px) {
    nav {
        grid-template-columns: 35% 65%;
    }
    nav ul {
        font-size: 0.7rem;
    }

    #modem {
        width: 60%;
    }

    .infos {
        display: block;
        text-align: center;
    }
    button {
        margin: 5px;
    }
    .img-container {
        height: 30px;
    }
}