@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

button {
    background: none;
    outline: none;
    border : 1px solid whitesmoke;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.4s ease;
    cursor: pointer;
}

button:hover {
    color: black;
    background: whitesmoke;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
    text-align: center;
}

nav {
    max-width: 1100px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 5px;
}

nav li {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease; 
    padding: 20px 0; 
    list-style: none;
}

nav li:first-child {
    color: #601374; 
}

nav li:first-child:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px; 
    background-color: #601374; 
    transform: translateY(-20px);
}

nav li:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px; 
    background-color: #601374; 
    transform: translateY(-20px);
}

nav li:last-child:before {
    background: none;
}

#language {
    background-color: rgba(128,128,128,0.25);
    border-radius: 50px;   
    padding: 8px 16px;
}

.main-header {
    background: url(./assets/img/bg.jpg) fixed center/cover;
    padding: 60px;
    color: white;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px 0 35px;
}

.main-header button {
    letter-spacing: 2px;
    padding: 15px 30px;
}

.main-header i {
    transform: translateX(5px);
}

.header-text {
    padding: 45px 0;
    max-width: 1100px;
    font-size: 1.2rem;
    line-height: 34px;
    margin: 0 auto;
}

.icon-part {
    padding: 65px 0;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
}

.icon-part-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.lip-logo {
    margin-bottom: 30px;
}

.icon-part h3 {
    text-transform: uppercase;
    font-weight: 700;
}

.icon-part p {
    width: 80%;
    margin: 10px auto 20px;
}

.icon-part button {
    padding: 9px 32px;
}

.news-part {
    background-color: rgba(245, 245, 245, 0.8);
    padding: 80px 0 45px;
}

.header-news {
    display: grid;
    grid-template-columns: 70% 30%;   
    max-width: 1000px;
    margin: 0 auto;
}

.left-part {
    line-height: 30px;
}

.left-part h2 { 
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
}

.left-part p {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: left;
}

.right-part button {
    border-color: rgba(0, 0, 0, 0.562);
    color: #202020;
    letter-spacing: 1px;
    padding: 10px 20px;
}

.right-part button:hover {
    color: whitesmoke;
    background: rgba(0,0,0,0.9);
}

.main-news-container {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin: 45px auto;
}

.main-news-container > div {
    position: relative;
    max-width: 23%;
}

.mn-pic img {
    object-fit: cover;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 10px #888;
}

.main-news-container h4 {
    margin: 15px 0;
    text-align: left;
}

.main-news-container p {
    text-align: left;
    font-size: 0.8rem;
    line-height: 20px;
    margin-bottom: 45px;
}

.link {
    position: absolute;
    text-align: left;
    bottom: 0;
}

.main-news a {
    font-family: "Montserrat Thin", serif;
    text-transform: uppercase;
    color: #601374;
    font-size: 0.7rem;
    letter-spacing: 1px;
    
    font-weight: 900;
}

.main-news a:hover {
    color: rgb(180,180,1)
}

.main-news i {
    transform: translateX(5px);
}

.contact {
    padding: 65px 0 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.contact-list {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    position: relative;
}

.contact-list:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background: rgb(230, 230, 230);
    bottom: -28px;
}

.contact-list .list {
    width: 24%;
    text-align: left;
}

.contact-list h5 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 15px;
}

.infos-p li {
    margin: 15px 0;
}

.list p {
    line-height: 22px;
    margin-bottom: 8px;
}

.list h6 {
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.list .network {
    margin: 20px 0 8px;
}

.footer-logos i {
    font-size: 0.8rem;
    margin: 0 12px 30px 0;
}

.copyright {
    margin: 0;
}
.contact-medias {
    padding: 60px 0 15px;
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.medias-text {
    text-align: left;
    width: 30%;
}

.medias-text h3 {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.medias-text p {
    font-size: 0.8rem;
}

.medias-logos {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.medias-logos img {
    width: 60px;
}

footer {
    background: rgba(15, 15, 15, 0.767);
    color: whitesmoke;
    padding: 25px;
}

footer h3 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 32px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

/* **************** MEDIA QUERIES ****************** */

@media screen and (max-width: 895px) {
    nav li {
        font-size: 0.7rem;
    }
    .main-header img {
        width: 80%;
    }
    .contact-list .list {
        padding-left: 15px;
    }
    .medias-logos img {
        width: 40px;
    }
    footer ul {
        flex-wrap: wrap;
    }
    footer li {
        margin: 5px;
    }
}

@media screen and (max-width: 704px) {
    nav li {
        display: none;
    }
    .icon-part-container {
        display: block;
    }
    .icon-part {
        padding: 0 0 30px;
    }
    .list-icon-part {
        margin-top: 40px;
    }
    .header-news {
        display: block;
    }
    .left-part {
        width: 100%;
    }
    .left-part h2 {
        text-align: center;
    }
    .left-part p {
        text-align: center;
        margin-bottom: 10px;
    }
    .main-news-container {
        display: block;
    }
    .main-news-container div {
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 15px;
        margin-top: 58px;
    }
    .main-news-container img {
        width: 50%;
    }
    .contact {
        display: none;
    }
}